* {
    box-sizing: border-box;
    color: hsl(44, 0%, 25%);
}

p {
    line-height: 1.5rem;
}

/* Header */

.Desktop {
    display: none;
}


.Nav {
    width: 100%;
}

header {
    height: 64px;
    background-color: white;
    display: flex;
    align-items: center;
}

header li {
    list-style: none;
}


.Mobile ul{
    display: flex;
    justify-content: space-between;
    padding-inline-end: 40px;
    margin: unset;
    width: 100%;
    align-items: baseline;
}


@media only screen and (min-width: 1024px) {

    .Mobile {
        display: none;
    }
    .Desktop {
        display: flex;
        justify-content: space-between;
    }

    .branding {
        display: flex;
        align-items: center;
        margin-left: 24px;
    }

    .links {
        width: 30%;
    }

    .Desktop ul {
        display: flex;
        padding-left: 0px;
        justify-content: space-evenly;
    }


}


/* Banner */

.banner {
    background-color: hsl(44, 0%, 75%);
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner figure {
    margin: unset;
    margin: 0 0 2rem 0;
}

button {
    width: 80%;
    padding: 8px 1rem;
    display: block;
    margin: auto;
    background-color: hsl(44, 0%, 55%);
    border: none;
    color: white;
    font-weight: bold;
}

.banner div {
    padding: 0 1rem;
}

@media only screen and (min-width: 1024px) {

    .banner {
        display: flex;
        align-items: center;
    }
    .banner figure {
        width: 60%;
        padding: 2rem 24px 0 24px;
        display: inline-block;
        margin: unset;
    }

    .banner img {
        

    }

    .banner div {
        display: inline-block;
        width: 39.6%;
        padding: unset;
    }

}

/* Information */

.one {
    display: none;
}

.sub {
    width: 100%;
    padding: 0 1rem 2rem 1rem;
}

.sub img {
    width: 100%;
}

.sub a {
    color: hsl(212, 100%, 70%);
    text-decoration: none;
}