* {
    box-sizing: border-box;
    color: hsl(44, 0%, 25%);
}

p {
    line-height: 1.5rem;
}

.Desktop {
    display: none;
}

@media only screen and (min-width: 1024px) {
    .Desktop {
        display: unset;
    }

    .Mobile {
        display: none;
    }
}



/* Header */

.Nav {
    width: 100%;
}

header {
    height: 64px;
    background-color: white;
    display: flex;
    align-items: center;
}

header li {
    list-style: none;
}


.Mobile ul{
    display: flex;
    justify-content: space-between;
    padding-inline-end: 40px;
    margin: unset;
    width: 100%;
    align-items: baseline;
}


@media only screen and (min-width: 1024px) {

    .Mobile {
        display: none;
    }
    .Desktop {
        display: flex;
        justify-content: space-between;
    }

    .branding {
        display: flex;
        align-items: center;
        margin-left: 24px;
    }

    .links {
        width: 30%;
    }

    .Desktop ul {
        display: flex;
        padding-left: 0px;
        justify-content: space-evenly;
    }


}







/* Banner */

.banner {
    background-color: hsl(44, 0%, 75%);
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner figure {
    margin: unset;
    margin: 0 0 2rem 0;
}

button {
    width: 80%;
    padding: 8px 1rem;
    display: block;
    margin: auto;
    background-color: hsl(44, 0%, 55%);
    border: none;
    color: white;
    font-weight: bold;
}

.banner div {
    padding: 0 1rem;
}

@media only screen and (min-width: 1024px) {

    .banner {
        display: flex;
        align-items: center;
    }
    .banner figure {
        width: 60%;
        padding: 2rem 24px 0 24px;
        display: inline-block;
        margin: unset;
    }

    .banner div {
        display: inline-block;
        width: 39.6%;
        padding: unset;
    }

}





/* Information */


.sub {
    width: 100%;
    padding: 1rem 1rem 2rem 1rem;
}

.sub img {
    width: 100%;
}

.sub a {
    color: hsl(212, 100%, 70%);
    text-decoration: none;
}

@media only screen and (min-width: 1024px) {

    .information {
        display: flex;
        background-color: white !important;
    }

    
    .content-one {
        display: unset;
        width: 60%;
        padding: 2rem 24px;
    }

    .content-one img {
        width: 100%;
    }

    .content-two {
        display: flex;
        flex-direction: column;
        width: 40%;
        padding: 1rem 0 2rem 0;
        border-left: 1px solid hsl(44, 0%, 75%);;
    }

    .sub img {
        width: 35%;
        padding: unset;
        height: auto;
    }

    .information .sub {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem;
        border-top: 1px solid hsl(44, 0%, 75%);
    }

    .sub div {
        width: 60%;
    }

    section.three {
        background-color: hsl(44, 0%, 75%);
    }
    .three p {
        margin: 8px 0;
    }
    .three h3 {
        margin-bottom: 11px;
    }

    section.one {
        border-top: none !important;
    }


}